OPENROUTER_API_KEY=openrouter-key
DEFAULT_LLM_MODEL=google/gemini-2.5-pro-preview-03-25

# For image gen - pick flux-schnell or openai
REPLICATE_API_TOKEN=your-token
OPENAI_API_KEY=your-key
REPLICATE_MODEL=black-forest-labs/flux-schnell

# Netlify deploy
NETLIFY_AUTH_TOKEN=auth-token
# Optional Netlify site id to deploy to, if not given will auto-generate site
NETLIFY_SITE_ID=optional-site-id-to-always-deploy-here